body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fafafa;

}

#container {
  width: 100vw;
  margin: auto;
}

h1::before {
  content: "ãƒ¼";
  padding: 10px;
  color: rgb(189, 18, 66);
}

h1 {
  padding: 20px;
}

/* -----------------------------------------------#top-area */

#top-area {
  height: 60vh;
  min-height: 500px;
}

/* -----------------------------------------------#post-area */
#newpost-area {
  background-color: #f2f2f2;
  padding: 10px;
}

#post-box {
  height: 400px;
  width: 100%;
  height: 100%;
  max-width: 1500px;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 24vw 24vw 24vw 24vw;
  grid-template-rows: 300px;
}

.post-div {
  display: grid;
  margin: 20px;
}

.post-img {
  background-color: #aaa;
  width: 100%;
  height: 200px;
}

.post-div p,
h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post-div h5 {
  color: #997;
}

.btn {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 30px;
  margin: 10px auto;
  padding: 10px;
  color: #fafafa;
  background-color: #997;
  border-radius: 25px;
}







#message dt{
  text-align: center;
  margin: 20px 40px;
}


#message textarea {
  display: block;
  margin: 10px auto;
  resize: none;
  border: none;
  border: 2px solid #cccccc;
  border-radius: 2px;
  padding: 10px;
  width: 60vw;
  height: 200px;
}

#message textarea:focus {
  outline: 0;
}

#message form input{
  border: none;
  padding: 10px;
  background-color: #997;
  color: #fafafa;
  display: block;
  width: 100px;
  height: 50px;
  line-height: 30px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 25px;

}

footer{
  font-size: 14px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a{
  color: #aaa;
}


@media (max-width: 980px) {
  #newpost-box {
    grid-template-columns: 46vw 46vw;
    grid-template-rows: 300px 300px;
  }
  #message textarea {
    width: 90vw;
  }
}

@media (max-width: 500px) {
  #newpost-box {
    grid-template-columns: 90vw;
    grid-template-rows: 300px 300px 300px 300px;
  }
}